*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color--: white;
}

body,html{
    height: 100vh;
    width: 100vw;
       background: linear-gradient(120deg, #061022, #07132A);
}

#left-header, #h, #text{
    color: var(--color--);
}


#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#container{
    padding: 20px;
    width: 900px;
    min-height: 250px;
    background-color: #0B1220;
    text-align: center;
    border-radius: 12px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.btn-new{
    padding:  10px 6px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #692CCF;
    color: var(--color--);
    outline: none;
    border: none;
}

.btn-new:hover{
    background-color: #580adf;
}

.btn-copy{
    margin-left: 6px;
    padding: 10px 6px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #141e34;
    color: var(--color--);
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-copy:hover{
  background-color: #010409;
}


#text{
    display: flex;
    justify-content: center;
    background-color: #131927;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    align-items: center;
}